/* CSS INDEX */

/* Agrega la clase .show para aplicar las animaciones */

.detail {
  justify-content: center;
  background-color: #ffffff;
  border: 2.5px solid #f9f9f9;
  text-align: center;
  padding: 3.4rem 0;
  margin: 2rem 0;
  flex-direction: row;
}

.other {
  justify-content: center;
  background-color: #ffffff;
  border: 2.5px solid #f9f9f9;
  text-align: center;
  padding: 3.4rem 0;
  margin: 2rem 0;
  display: flex; /* Agregado */
}



.pp {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: opacity 0.5s, filter 1s, transform 1s;
}

.pp.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

/* Aplica las animaciones iniciales a los elementos */


.shadow-navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.shadow-card {
  box-shadow: 0 8px 9px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

:root {
  --transition: all 0.5s ease-in-out;
}


/* CSS ADMIN */
/*Sección de botones principales*/
.detail {
  justify-content: center;
  background-color: #ffffff;
  border: 2.5px solid #f9f9f9;
  text-align: center;
  padding: 3.4rem 0;
  margin: 2rem 0;
  flex-direction: row;
}

.item img {
  width: 150px;
  height: 150px;
  margin-left: 18px;
}
.item {
  background-color: #f3eeee;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
  margin: 20px 20px 20px 20px;
  padding: 3.4rem 0;
  border-radius: 8px;
  transition: var(--transition);
  width: 250px;
  display: inline-block;
}

.item:hover {
  -webkit-box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
  -moz-box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
  box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
  transform: translateY(-15px);
}

.button .form_btn {
  background: #1696e4;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  cursor: pointer;
  width: 150px;
  padding: 7px 8px;
  font-size: 17px;
  margin: 2px 0;
  background: #1696e4;
  border-radius: 5px;
  font-family: "Poetsen One", sans-serif;
}

.button .form_btn:hover {
  background: #fff;
  color: #1696e4;
}

.item .button span {
  display: block;
}
.item .button span:first-child {
  font-size: 2.6rem;
  letter-spacing: 2px;
  color: #04896f;
}
.item .button span:last-child {
  font-size: 0.85rem;
  letter-spacing: 1;
  font-weight: 500;
}

@media screen and (min-width: 1200px) {
  .detail .row {
    grid-template-columns: repeat(3, 1fr);
  }
}
