.shadow-navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.shadow-card {
    box-shadow: 0 8px 9px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}


